@{
    ViewData["Title"] = "Home Page";
}

@using WritingClub.Models;

<h1>New Prompt:</h1>

<form action="/prompts" method="post">
  <label for="title">Prompt's Title</label>
  <input id="title" name="title" type="text">
  <label for="content">Prompt's Content</label>
  <input id="content" name="content" type="text">
  <button type="submit">Go!</button>
</form>

<h1>All Prompts:</h1>

<ol>
@foreach (Prompt prompt in Model)
{
    <ul>
        <li>ID: @prompt.PromptId</li>
        <li>Name: @prompt.Title</li>
    </ul>
    <a href="/Prompts/Details/@(prompt.PromptId)"><p>View Details</p></a>
    <br>
}
</ol>